@charset "UTF-8";
* {
    margin : 0;
    padding : 0;
}
body {
    margin: 0 auto;
    min-width: 500px;
}
a {
    text-decoration: none;
}

.navbar_login {
	paosision : absolute:
	right : 10%;
}
.blogin{
	
    border : none;
    width: 120px;
    height: 50px;
    margin-top: 10px;
    padding : 15px 30px;
    margin-right: 10px;
    font-size: 15px;
    border-radius: 30px;
    background-color: rgb(180, 112, 203);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 1000;
}
.blogin:hover{
    background-color: rgb(106, 19, 135);
}

[name="slide"] {
    display: none;
}
.content {
    width: 100%;
    height: 1400px;
    margin-top:10px;
    /* background-color: aquamarine; */
}
.slidebox {
    max-width: 100%;
    width: 100%;
    height: 600px;
    margin: 0 auto;
}
.slidebox img {
    max-width: 100%;
    width: 100%;
    height: 600px;
}
.slidebox .slidelist {
    white-space: nowrap;
    font-size: 0;
    height: 100%;
    overflow: hidden;
}
.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .50s;
}
.slidebox .slideitem label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}
label.left {
    left: 50px;
    background-color: white;
    background-image: url('../image/main/left-arrow.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;   
}
label.right {
    right: 50px;
    background-color: white;
    background-image: url('../image/main/right-arrow.png');
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;   
}
.text {
    position: absolute;
    text-shadow: 4px 2px 10px rgb(34, 33, 33);
    width: 500px;
    height: 200px;
    top : 100px;
    left: 100px;
}
.param {
    width: 100%;
    height: 100%;
    font-size: 60px;
    color: rgb(180, 112, 203);
    font-weight: 900;
}
.btext {
    position: absolute;
    top : 300px;
    left: 200px;
}
.slideitem button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border : none;
    background-color: rgb(180, 112, 203);
    font-weight: 900;
    color: white;
}
.slideitem button:hover {
    background-color: rgb(106, 19, 135);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

[id="slide01"]:checked ~ .slidelist .slideitem {transform: translateX(0); animation: slide01 40s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform: translateX(-100%); animation: slide02 40s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform: translateX(-200%); animation: slide03 40s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform: translateX(-300%); animation: slide04 40s infinite;}

@keyframes slide01 {
    0% {left: 0%;}
    23% {left: 0%;}
    25% {left: -100%;}
    48% {left: -100%;}
    50% {left: -200%;}
    73% {left: -200%;}
    75% {left: -300%;}
    98% {left: -300%;}
    100% {left: 0%;}
}
@keyframes slide02 {
    0% {left: 0%;}
    23% {left: 0%;}
    25% {left: -100%;}
    48% {left: -100%;}
    50% {left: -200%;}
    73% {left: -200%;}
    75% {left: 100%;}
    98% {left: 100%;}
    100% {left: 0%;}
}
@keyframes slide03 {
    0% {left: 0%;}
    23% {left: 0%;}
    25% {left: -100%;}
    48% {left: -100%;}
    50% {left: 200%;}
    73% {left: 200%;}
    75% {left: 100%;}
    98% {left: 100%;}
    100% {left: 0%;}
}
@keyframes slide04 {
    0% {left: 0%;}
    23% {left: 0%;}
    25% {left: 300%;}
    48% {left: 300%;}
    50% {left: 200%;}
    73% {left: 200%;}
    75% {left: 100%;}
    98% {left: 100%;}
    100% {left: 0%;}
}
.content2 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    margin-top: 10px;
}
.content2_1 {
    width: 500px;
    height: 390px;
    margin: 10px;
    /* background-color: blue; */
}
.first {
    width: 600px;
    margin-top: 80px;
    margin-bottom: 20px;
}
.second {
    font-size: 20px;
    margin-bottom: 10px;
}
.btext2 {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border : none;
    background-color: rgb(180, 112, 203);
    font-weight: 900;
    color: white;
}
.content2_2 {
    width: 600px;
    height: 390px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
}
.content2_2 p {
    color: black;
    font-size: 20px;
    text-align: center;
}
.divc2 {
    width: 200px;
    height: 300px;
   /* background-color: aqua; */
    margin-left: 5px;
}

.content2_2 img {
    width: 90%;
    height: 50%;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5%;
}

.content3 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 238, 238);
}
.content3_1 {
    width: 500px;
    height: 90%;
    margin-right: 150px;
    /* background-color: aqua; */
}
.content3_1 img {
    width: 90%;
    height: 90%;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 5%;
}
.content3_2 {
    width: 500px;
    height: 90%;
    /* background-color: aqua; */
}
.btext3 {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border : none;
    background-color: rgb(180, 112, 203);
    font-weight: 900;
    color: white;
}
.footer {
    width: 100%;
    height: 200px;
    background-color: rgb(77, 74, 79);
}
.fmenu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0px;
}
.fmenu li {
    padding: 10px 12px;
    width: 150px;
    /* background-color: blueviolet; */
    margin: 10px;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
}
.fmenu a {
    color:white;
}
.finform {
    margin-left: 10%;
    width: 1020px;
    /* background-color: aquamarine;*/
}
.companyname {
    color: white;
    font-weight: 800;
}
.inform {
    color:rgb(165, 162, 162);
    margin-right: 50px;
    margin-top: 20px;
    width: 50px;
}
.qna {
    background-color: rgb(180, 112, 203);
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.imlogo2 {
    width: 80%;
    height: 80%;
    margin-top: 10px;
    object-fit: cover;
}
.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 78%;
    width: 400px;
    height: 800px;
    border-radius: 10px;
    background-color: white;
}
.modal .title {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.modal h2 {
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 600;
}
.modal hr {
    border: none;
    height: 2px;
    background-color: rgb(216, 211, 211);
}
.modal .close-button {
    font-size: 25px;
    color: gray;
    margin-right: 5px;
}
.modal .m_content {
    margin-left: 10px;
}
.modal .notice {
    height: 50px;
    margin-bottom: 5px;
    padding: 2px 0px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.modal .b_close {
    width: 80px;
    height: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    color:white;
    border: none;
    border-radius: 20px;
    background-color: rgb(180, 112, 203);
}


@media screen and (max-width: 820px){
    .navbar_menu {
        display:none;
    }
    .text {
        position: absolute;
        top: 37%;
        left: 48%;
        transform: translate(-37%, -48%);
    }
    .param {
        font-size: 50px;
    }

    .btext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .content2_2 {
        display: none;
    }
    .content3_1 {
        display: none;
    }
    .finform {
        margin-left: 10%;
        width: 500px;
        /* background-color: aquamarine;*/
    }
}